<h2>Job Log</h2>

<div class="inner">
	<table class="table table-bordered table-striped table-hover table-responsive joblog">
		<thead>
			<tr>
				<th>
					Job Number
				</th>
				<th>
					Job Name
				</th>
				<th>
					Client
				</th>
				<th>
					Job Type
				</th>
        <!-- FROM HERE ON.....ONLY ADMINS COULD VIEW THIS -->
        <% if (user.role == 'admin') { %>
        <th>
          Job Fee
        </th>
        <th>
          Job Expenses
        </th>
        <th>
          Amt Invoiced
        </th>
        <th>
          Amt Received
        </th>
        <th>
          Est Profit
        </th>
        <th>
          %
        </th>
				<th>

        </th>
				<th>

        </th>
        <% } %>
        <!-- END OF ADMIN ZONE -->
			</tr>
		</thead>
		<tbody>
      <!-- THIS IS WHERE THE PROJECTS AUTO-POPULATE INTO THE VIEW -->
				<% projects.forEach((job) => { %>
					<tr>
						<td>
							<a href="/projects/<%= job._id %>"><%= job.jobNumber %></a>
						</td>
						<td>
							<a href="/projects/<%= job._id %>"><%= job.jobName %></a>
						</td>
						<td>
							<a href="/projects/client/<%= job.jobClient %>"><%= job.jobClient %></a>
						</td>
						<td>
							<a href="/projects/type/<%= job.jobType %>"><%= job.jobType %></a>
						</td>
						<!-- FROM HERE ON.....ONLY ADMINS COULD VIEW THIS -->
						<% if (user.role == 'admin') { %>
							<td>
								<%= job.jobFee %>
							</td>
							<td>
								<!-- The math my end up being done elsewhere so that we could save to DB  -->
								<% let expenses = job.jobSubExp + job.jobPayroll + job.jobMaterialExp + job.jobReimburse %>
								<%= expenses %>
							</td>
							<td>
								<%= job.jobAmtInv %>
							</td>
							<td>
								<%= job.jobAmtRec %>
							</td>
							<td>
								<%= job.jobProfit %>
							</td>
							<td>
								<!-- The math my end up being done elsewhere so that we could save to DB  -->
								25%
							</td>
							<td>
								<a href="/projects/<%= job._id %>/edit"><span class="glyphicon glyphicon-edit"></span></a>
							</td>
							<td>
								<a class="linkpost" href="/projects/<%= job._id %>/delete"><span class="glyphicon glyphicon-remove"></span></a>
							</td>

						<% } %>
						<!-- END OF ADMIN ZONE -->

					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
